<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>抽獎轉盤</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style/style.css" />
  </head>

  <body class="bg-main min-vh-100 bg-all">
    <div id="app">
      <div
        class="announce d-flex justify-content-between w-100 py-5"
        v-if="showPrize===true"
      >
        <p class="well-done text-white px-3">
          WELL <br />
          DOWN!
        </p>

        <p class="free text-white pe-3 ps-auto">
          YOU GET A FREE... <br /><span class="prize">{{ prizeContent }}</span>
        </p>
      </div>
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <a href="#" @click.prevent="display='prize2017'"
              ><span class="badge bg-light text-dark">2017</span></a
            >
            <a href="#" @click.prevent="display ='prize2018'"
              ><span class="badge bg-light text-dark">2018</span></a
            >
            <a href="#" @click.prevent="reset"
              ><span class="badge bg-light text-dark">Again</span></a
            >
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="wheel wheel2017" v-show="display=='prize2017'">
            <div class="hand" :style="{'transition':transitionTime}"></div>
            <div
              class="press d-flex align-items-center justify-content-center"
              @click="getPrize"
            >
              PRESS
            </div>
            <div class="innerWheel">
              <div
                class="sector"
                v-for="(value, index) in prize1"
                :style="drawFan(index, prize1)"
                :key="index"
              >
                <div class="content" :style="drawContent(index, prize1)">
                  <div class="icon-text">
                    <i class="material-icons">{{value.icon}}</i>
                  </div>
                  <div class="prize-text">{{value.prize}}</div>
                </div>
              </div>
            </div>
            <img src="images/wheel-outside.svg" alt="" class="rink" />
          </div>
          <div class="wheel wheel2018" v-show="display=='prize2018'">
            <div class="hand" :style="{'transition':transitionTime}"></div>
            <div
              class="press d-flex align-items-center justify-content-center"
              @click="getPrize"
            >
              PRESS
            </div>
            <div class="innerWheel">
              <div
                class="sector"
                v-for="(value , index) in prize2"
                :style="drawFan(index,prize2)"
                :key="index"
              >
                <div class="content" :style="drawContent(index, prize2)">
                  <div class="prize-text">{{value.id}}</div>
                  <div class="icon-text">
                    <span class="badge rounded-pill bg-main"
                      >{{value.number}}</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <img src="images/wheel-outside.svg" alt="" class="rink" />
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="all.js"></script>
  </body>
</html>
